<!DOCTYPE html>

<html>
    <head>
        <title>PoiFinder</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("semantic/semantic.min.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/marker.png")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("jqcloud/jqcloud.css")">
        <script src="@routes.Assets.at("javascripts/jquery-1.9.0.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("jqcloud/jqcloud-1.0.4.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("semantic/semantic.min.js")" type="text/javascript"></script>
        <script src="http://maps.googleapis.com/maps/api/js"></script>
        <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?libraries=drawing"></script>
        <script>
            $( document ).ready(function() {
                setWindowSize();
                drawTagCloud();
            });

            $( window ).resize(function() {
                setWindowSize();
                drawTagCloud();
            });

            var defaultTags = [
                    {text: "Singapore", weight:25000},
                    {text: "Road", weight:18432},
                    {text: "Estate", weight:13618},
                    {text: "Park", weight:12639},
                    {text: "Garden", weight:6760},
                    {text: "Jalan", weight:5969},
                    {text: "Avenue", weight:5654},
                    {text: "Street", weight:3865},
                    {text: "Gardens", weight:3827},
                    {text: "Lorong", weight:3784},
                    {text: "Serangoon", weight:3588},
                    {text: "Hills", weight:2904},
                    {text: "Drive", weight:2327},
                    {text: "Hill", weight:2321},
                    {text: "Villas", weight:1975},
                    {text: "Terrace", weight:1924},
                    {text: "Geylang", weight:1838},
                    {text: "Crescent", weight:1793},
                    {text: "East", weight:1762},
                    {text: "Conservation", weight:1740}
            ];

            var resultTags = null;

            function drawTagCloud() {
                 /*!
                  * Create an array of word objects, each representing a word in the cloud
                  */

                $("#tagCloud").html("");
                if (resultTags == null) {
                    $("#tagCloud").jQCloud(defaultTags);
                } else {
                    $("#tagCloud").jQCloud(resultTags);
                }
            }

            function setWindowSize() {
                $("#googleMap").width($("#googleMapContainer").width());
                $("#googleMapContainer").height($(document).height() * 5 / 6);
                $("#googleMap").height($("#googleMapContainer").height());
                $("#setKWindow").width($(document).width() / 20);
                $("#resultsContainer").height($("#googleMapContainer").height());
                $("#tagCloud").width($("#resultsContainer").width());
                $("#tagCloud").height($("#resultsContainer").height() / 3);
            }

            function initialize() {

                var myCenter=new google.maps.LatLng(1.281933, 103.80321);

                var mapProp = {
                    center:myCenter,
                    zoom:12,
                    mapTypeId:google.maps.MapTypeId.ROADMAP
                };

                map=new google.maps.Map(document.getElementById("googleMap"),mapProp);
                markerlist = [];

                var currentShape = null;


                var drawingManager = new google.maps.drawing.DrawingManager({
                    drawingMode: google.maps.drawing.OverlayType.RECTANGLE,
                    drawingControl: true,
                    editable: true,
                    draggable: true,
                    drawingControlOptions: {
                        position: google.maps.ControlPosition.TOP_CENTER,
                        drawingModes: [
                            google.maps.drawing.OverlayType.RECTANGLE
                        ]
                    },
                    rectangleOptions: {
                        fillColor: '#1E90FF',
                        fillOpacity: 0.35,
                        strokeColor: '#1E90FF',
                        strokeWeight: 0,
                        clickable: false,
                        editable: true,
                        zIndex: 1
                    }
                });
                drawingManager.setMap(map);

                google.maps.event.addListener(drawingManager, 'rectanglecomplete', function(rectangle) {
                    var ne = rectangle.getBounds().getNorthEast();
                    var sw = rectangle.getBounds().getSouthWest();
                    //console.log(ne.lat() + ' ' + ne.lng());
                    //console.log(sw.lat() + ' ' + sw.lng());

                    // trigger ajax search

                    //var jqxhr = $.ajax( "/search/1/1/1/1")
                    var jqxhr = $.ajax( "/search/" + ne.lat() + "/" + ne.lng() +
                                               "/" + sw.lat() + "/" + sw.lng() +
                                               "/" + $("#setKWindow").val())
                        .done(function(results) {
                            //console.log(results);
                            var json = JSON.parse(results);

                            for (i = 0 ; i < markerlist.length ; i++) {
                                markerlist[i].setMap(null);
                            }
                            markerlist = [];
                            $("#poiTable").html("");

                            if (json["tags"].length == 0) {
                                window.resultTags = null;
                                drawTagCloud();
                                $("#poiTable").append(
                                    "<tr>" +
                                        "<td>" +
                                            "<a>" +
                                                "No POI in the Region" +
                                            "</a>" +
                                        "</td>" +
                                        "<td class=\"right aligned\">" +
                                        "</td>" +
                                    "</tr>"
                                );
                                return;
                            }

                            window.resultTags = []
                            for (i = 0 ; i < json["tags"].length ; i++) {
                                window.resultTags.push({text: json["tags"][i]["name"], weight: json["tags"][i]["weight"]})
                            }


                            for (i = 0 ; i < json["results"].length ; i ++) {
                                var poicenter=new google.maps.LatLng(json["results"][i]["lat"],
                                                                     json["results"][i]["lng"]);
                                var marker = new google.maps.Marker({
                                    position: poicenter,
                                    map: map,
                                    title: json["results"][i]["name"]
                                });
                                markerlist.push(marker);
                            }

                            for (i = 0 ; i < Math.min(json["results"].length, 10) ; i ++) {
                                $("#poiTable").append(
                                    "<tr>" +
                                        "<td>" +
                                            "<a class=\"resultMarker\">" +
                                                json["results"][i]["name"] +
                                            "</a>" +
                                            "<lat style=\"display:none\">" + json["results"][i]["lat"] + "</lat>" +
                                            "<lng style=\"display:none\">" + json["results"][i]["lng"] + "</lng>" +
                                        "</td>" +
                                        "<td class=\"right aligned\">" +
                                            "<a class=\"resultMarker\">" +
                                                "<i class=\"ui icon marker red\"></i>" +
                                            "</a>" +
                                            "<lat style=\"display:none\">" + json["results"][i]["lat"] + "</lat>" +
                                            "<lng style=\"display:none\">" + json["results"][i]["lng"] + "</lng>" +
                                        "</td>" +
                                    "</tr>"
                                )

                                //console.log(json["results"][i]["lat"] + ' ' + json["results"][i]["lng"]);
                            }
                            $(".resultMarker").click(function() {
                                var lat = $(this).parent().children('lat').text();
                                var lng = $(this).parent().children('lng').text();
                                var marker = new google.maps.Marker({
                                    position: new google.maps.LatLng(lat, lng)
                                });
                                window.map.setZoom(18);
                                window.map.setCenter(new google.maps.LatLng(lat, lng));
                                //marker.setMap(window.map)
                            });
                            drawTagCloud();

                        })
                        .fail(function() {
                            for (i = 0 ; i < markerlist.length ; i++) {
                                markerlist[i].setMap(null);
                            }
                            markerlist = [];
                            $("#poiTable").html("");

                            if (true) {
                                window.resultTags = null;
                                drawTagCloud();
                                $("#poiTable").append(
                                    "<tr>" +
                                        "<td>" +
                                            "<a>" +
                                                "Server Reply ERROR!" +
                                            "</a>" +
                                        "</td>" +
                                        "<td class=\"right aligned\">" +
                                        "</td>" +
                                    "</tr>"
                                );
                            }
                        });

                    if (currentShape) {
                        currentShape.setMap(null);
                    }
                    currentShape = rectangle;
                });

            }

            google.maps.event.addDomListener(window, 'load', initialize);


        </script>
    </head>
    <body>
        <div class="ui secondary pointing menu">
            <a class="item">
                <h3 class="ui header">PoiFinder</h3>
            </a>
            <a class="active item">
                <i class="home icon"></i> Home
            </a>
            <a class="item" id="about-button">
                <i class="info icon"></i> About
            </a>

            <div class="item">
                <div class="ui search">
                    <div class="ui icon input">
                        <input class="prompt" type="text" id="setKWindow" value="20" placeholder="Set k" >
                    </div>
                    <div class="results"></div>
                </div>
            </div>

            <a class="right item" href="https://github.com/JingqingZ/PoiFinder" target="_blank" title="前往GitHub" style="margin-top:5px">
                <i class="big github icon"></i>
            </a>

        </div>

        <div class="ui two column grid">
            <div class="four wide column">
                <div class="ui segment" id="resultsContainer">
                    <div id="tagCloud">

                    </div>
                    <table class="ui unstackable table">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th class="right aligned">Zoom</th>
                            </tr>
                        </thead>
                        <tbody id="poiTable">
                            <tr>
                                <td>
                                    <a>
                                        Waiting for you DRAWING!~
                                    </a>
                                </td>
                                <td class="right aligned">

                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="twelve wide column">
                <div class="ui segment" id="googleMapContainer">
                    <div id="googleMap" style="width:500px;height:380px;"></div>
                </div>
            </div>
        </div>

        <div class="ui modal" id="about">
            <i class="close icon"></i>
            <div class="header">
               About
            </div>
            <div class="content">
                <div class="image">
                    <img class="ui small image" src="@routes.Assets.at("images/marker.png")">
                </div>
                <div class="description">
                    <h3 class="ui header" style="margin-left:10px">
                        Powered By:
                        <a href="http://semantic-ui.com" target="_blank">Semantic</a> |
                        <a href="https://jquery.com/" target="_blank">jQuery</a> |
                        <a href="https://github.com/lucaong/jQCloud" target="_blank">jQCloud</a> |
                        <a href="https://developers.google.com/maps/documentation/javascript/" target="_blank">Google Map API</a>
                    </h3>
                    <h3 class="ui header" style="margin-left:10px; margin-top:-10px">
                        Thanks To:
                        <a href="#">Prof. Guoliang Li</a> |
                        <a href="#">T.A. Yu Jiang</a>
                    </h3>
                    <h3 class="ui header" style="margin-left:10px; margin-top:-10px">
                         Author:
                        <a href="mailto:zhangjqsmiling@@icloud.com">JingqingZ-THU</a>
                    </h3>
                    <div class="ui divider"></div>
                    <p>
                        This is a demo of the final project of the course Advanced Database Training (THU).
                        In this demo, you can draw a rectangle region and set the value of k,
                        which indicate that you want top k location tags in the region.
                        Results will be shown in the Map and in the left side bar.
                        Great thanks to Prof. Guoliang Li and T.A. Yu Jiang and
                        also thanks to the authors of the APIs and packages I use.
                    </p>
                </div>
            </div>
            <div class="actions">
                <div class="ui button">OK</div>
            </div>
        </div>

    </body>
    <footer>
        <!-- <script src="@routes.Assets.at("javascripts/jquery.tagcloud.js")" type="text/javascript"></script> -->
        <script>
            /*
            $.fn.tagcloud.defaults = {
                size: {start: 14, end: 22, unit: 'pt'},
                color: {start: '#cde', end: '#f52'}
            };

            $(function () {
                $('#tagCloud a').tagcloud();
            });
            */

            $("#about-button").click(function() {
                $('#about').modal('show');
            })


        </script>
    </footer>
</html>
